html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    background:transparent;
    border:0;
    font-size:1em;
    font-variant:normal;
    margin:0;
    outline:0;
    padding:0;
    vertical-align:baseline;
}

body, html {
  height: 100%;
}

pre, code, kbd, samp, tt {
  font-size: 1em;
}

body {
  background-color: white;
  /* background-color: #f2eee6; */
  font-size: 100%;
  color: black;
  font-family: monospace;
}

.error {
  font-weight: bold;
  color: #a40000;
}

.response {
  font-weight: bold;
}

#left {
  background-color: #f0f0f0;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 45em;
  margin: 0 1em 0 0;
  height: 100%;
  overflow: auto;
  direction: ltr;
}

#input {
  width: 90%;
  background-color: transparent;
  border: none;
  color: black;
  font-family: monospace;
  font-size: 1em;
}

#prompt {
  padding: 0.5em;
}

.active {
  background-color: #f0f0f0;
}

.waiting {
  background-color: #c8c8c8;
}

#log {
  padding: 0.5em 0.5em 0 0.5em;
  font-family: monospace;
}

#right-wrap {
  padding: 0.5em;
  top: 0;
  margin: 0 0 0 47em;
}

#right {
  font-family: Georgia, Garamond, serif;
}

#right p {
  margin-left: 0.5em;
  text-align: justify;
  width: 30em;
  padding: 0.3em 0.5em;
  text-indent: 1em;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
