body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #191919;
}

h1 {
  display: inline;
  margin-top: 0.5em;
}

.error {
  font-weight: bold;
  color: red;
}

.response {
  font-weight: bold;
}

#left {
  background-color: black;
  color: white;
  float: left;
  width: 50em;
  padding: 0;
  margin: 0 1em 0 0;
  height: 100%;
  overflow-y: auto;
  direction: ltr;
  overflow-x: hidden;
  font-family: monospace;
}

#input {
  margin: 0;
  padding: 0;
  width: 80%;
}

#prompt {
  margin: 0;
  padding: 0.5em;
}

.active {
  background-color: black;
}

.waiting {
  background-color: #252525;
}

#log {
  margin: 0;
  padding: 0.5em 0.5em 0 0.5em;
}

#input {
  background-color: transparent;
  border: none;
  color: white;
  font-family: monospace;
}